.table-wrapper {
    max-width: 85vw;
    width: 1000px;
}

.stats-table {
    min-width: 850px;
}

.stats-table th:nth-child(1),
.stats-table td:nth-child(1) {
    width: 25%;
}

.stats-table th:nth-child(2),
.stats-table td:nth-child(2) {
    width: 25%;
}

.stats-table th:nth-child(3),
.stats-table td:nth-child(3) {
    width: 15%;
}

.stats-table th:nth-child(4),
.stats-table td:nth-child(4) {
    width: 30%;
}