<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/Images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/Common/commonPageStyle.css">
    <link rel="stylesheet" href="/Common/commonFormPageStyle.css">
    
    <title>CEF - Autenticación</title>
</head>
<body>

    <header>
        <%- include('../Navbar/navbarSelector.ejs') %>
    </header>

    <h1 class="title">Autenticación</h1>
    
    <main class="main-container">
        <form id="two-factor-authenticator-form" class="form">
            
            <div class="form-card">

                <section class="form-section">

                    <div class="input-group">
                        <label for="code">Ingresá el código recibido por email:</label>
                        <input id="code" type="number" inputmode="numeric" name="codigo" autocomplete="email" required>
                    </div>
                  
                    <p id="timer" class="note">Tiempo restante para validar el código: Enviando código...</p>

                    <a href="#" id="reenviar-codigo" class="generic-anchor disabled-anchor">Enviar código otra vez en: --:--</a>

                </section>

                <section class="form-section">
                    <p id="authenticationError" class="errorMsg" hidden></p>
                    <button class="submit">VALIDAR CÓDIGO</button>
                </section>
            
            </div>
                
        </form>
    </main>

    <%- include('../Navbar/footer.html') %>
    
    <script src="/Access/expirationTimer.js"></script>
    <script src="/Access/authPass.js"></script>
</body>

</html>