<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/Images/Common/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/Navbar/navStyle.css">
    <link rel="stylesheet" href="/Access/accessCommon.css">

    <title>CEF - Iniciar sesión</title>
</head>

<body>
    <header>
        <%- include('../Navbar/navbarSelector.ejs') %>
    </header>


    <main>
        <div class="form-container">
            <form id="login-form">
                <section>

                    <h1>Iniciar sesión</h1>

                    <div class="input-section">

                        <input type="email" name="email" required placeholder="Email registrado">
                        <input type="password" name="contraseña" required placeholder="Contraseña">

                    </div>

                    <a href="/access/recover-password">¿Olvidaste tu contraseña?</a>

                </section>

                <section>
                    <p id="loginError" class="errorMsg hidden"></p>
                    <button class="submit">INICIAR SESIÓN</button>
                </section>
            </form>
        </div>
    </main>

    <%- include('../Navbar/footer.html') %>

    <script src="/Access/login.js"></script>
</body>

</html>