<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/Images/Common/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/Common/commonPageStyle.css">

    <title>CEF - Recuperar contraseña</title>
</head>

<body>
    <header>
        <%- include('../Navbar/navbarSelector.ejs') %>
    </header>

    <h1 class="title">Recuperar contraseña</h1>
    
    <main class="main-container">
        <div class="form-card">

            <form id="recover-password-form" class="form">

                <section class="form-section">

                    <div class="input-group">
                        <label for="email">Email:</label>
                        <input id="email" type="email" name="email" autocomplete="email" required>
                    </div>

                </section>

                <section class="form-section">
                    <p id="loginError" class="errorMsg" hidden></p>
                    <button class="submit">ENVIAR CÓDIGO</button>
                </section>
            
            </form>

        </div>
    </main>

    <%- include('../Navbar/footer.html') %>

    <script src="/Access/recoverPassword.js"></script>
</body>

</html>