<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/Images/favicon.ico" type="image/x-icon">
    
    <link rel="stylesheet" href="/Common/commonPageStyle.css">

    <title>CEF - Recuperar contraseña</title>
</head>
<body>
    <header>
        <%- include('../Navbar/navbarSelector.ejs') %>
    </header>

    <h1 class="title">Restablecer contraseña</h1>
    
    <main class="main-container">
        <div class="form-card">

            <form id="reset-password-form">

                <section class="form-section">

                    <div class="input-group">
                        <label for="password">Nueva contraseña:</label>
                        <div class="password-wrapper">
                            <input id="password" type="password" name="contraseña" required>
                            <button id="visibility-button" type="button" class="password-toggle-button" aria-label="Mostrar contraseña">
                                <img id="visibility-icon" class="password-toggle-icon" src="/Images/Inputs/eye-icon-hidden-white.png">
                            </button>
                        </div>
                        <p id="passwordRequirementError" class="errorMsg" hidden></p>
                    </div>
    
                    <div class="input-group">
                        <label for="password">Confirmar nueva contraseña:</label>
                        <div class="password-wrapper">
                            <input id="confirmPassword" type="password" name="confirmarContraseña" required>
                            <button id="visibility-button" type="button" class="password-toggle-button" aria-label="Mostrar contraseña">
                                <img id="visibility-icon" class="password-toggle-icon" src="/Images/Inputs/eye-icon-hidden-white.png">
                            </button>
                            <p id="confirmPasswordError" class="errorMsg" hidden></p>
                        </div>
                    </div>

                </section>

                <section class="form-section">
                    <p id="loginError" class="errorMsg" hidden></p>
                    <button class="submit">RESTABLECER CONTRASEÑA</button>
                </section>
            
            </form>

        </div>
    </main>

    <%- include('../Navbar/footer.html') %>

    <script src="/Access/resetPassword.js"></script>
    
</body>

</html>