<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/Images/Common/favicon.ico" type="image/x-icon">
    
    <link rel="stylesheet" href="/Common/commonPageStyle.css">
    <link rel="stylesheet" href="/Common/commonFormPageStyle.css">

    <title>CEF - Recuperar contraseña</title>
</head>
<body>
    <header>
        <%- include('../Navbar/navbarSelector.ejs') %>
    </header>

    <h1 class="title">Restablecer contraseña</h1>
    
    <main class="main-container">
        <form id="reset-password-form" class="form">
            
            <div class="form-card">

                <section class="form-section">

                    <div class="input-group">
                        <label for="password">Contraseña:</label>
                        <div class="password-wrapper">
                            <input id="password" type="password" name="contraseña" required>
                            <button id="password-visibility-button" type="button" class="password-toggle-button" aria-label="Mostrar contraseña">
                                <img id="password-visibility-icon" class="password-toggle-icon" src="/Images/Inputs/eye-icon-hidden-white.png">
                            </button>
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="confirmPassword">Confirmar contraseña:</label>
                        <div class="password-wrapper">
                            <input id="confirmPassword" type="password" name="confirmarContraseña" required>
                            <button id="confirm-password-visibility-button" type="button" class="password-toggle-button" aria-label="Mostrar contraseña">
                                <img id="confirm-passwordvisibility-icon" class="password-toggle-icon" src="/Images/Inputs/eye-icon-hidden-white.png">
                            </button>
                        </div>
                    </div>

                </section>

                <section class="form-section">
                    <p id="registerError" class="errorMsg" hidden></p>
                    <button class="submit">RESTABLECER CONTRASEÑA</button>
                </section>
            
            </div>
                
        </form>
    </main>

    <%- include('../Navbar/footer.html') %>

    <script src="/Access/resetPassword.js"></script>
    
</body>

</html>