<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/Images/Common/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/Common/commonPageStyle.css">
    <link rel="stylesheet" href="/Management/managementStyle.css">

    <title>CEF - Gestión</title>
</head>

<body>
    <header>
        <%- include('../Navbar/navbarSelector.ejs') %>
    </header>

    <h1 class="title">Gestión</h1>

    <%- include('../Management/managementNav.html') %>

    <main class="main-container">
        <h2>Hola, ¿qué datos pongo acá?</h2>
    </main>

    
    <%- include('../Navbar/footer.html') %>
    
</body>

</html>