<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/Images/Common/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/Common/commonPageStyle.css">
    <link rel="stylesheet" href="/Common/commonFormPageStyle.css">
    <link rel="stylesheet" href="/Management/managementStyle.css">


    <title>CEF - Gestión</title>
</head>

<body>
    <header>
        <%- include('../Navbar/navbarSelector.ejs') %>
    </header>

    <h1 class="title">Gestión</h1>

    <%- include('../Management/managementNav.html') %>

    <main class="main-container">

        <form id="create-form" class="form" data-status-enum="<%= JSON.stringify(Status) %>">
            
            <div class="form-card">

                <h1 class="form-card-title">Crear nuevo profesor</h1>
                
                <section class="form-section">
                    
                    <div class="input-group">
                        <label for="name">Nombre completo:</label>
                        <input id="name" type="text" name="name" required pattern=".*\S+.*">
                    </div>

                    <div class="input-group">
                        <label for="dni">DNI:</label>
                        <input id="dni" type="number" name="dni" required pattern=".*\S+.*">
                    </div>

                    <div class="input-group">
                        <label for="gender">Género:</label>
                        <select id="gender" name="gender">
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>
                    
                    <div class="input-group">
                        <label>Actividades:</label>
                        <div id="createActivitiesContainer" class="checkbox-mgmt-container">
                            <!-- Las actividades se cargan dinámicamente desde la base de datos -->
                        </div>
                    </div>
                </section>

                <section class="form-section">
                    <p id="createError" class="errorMsg" hidden></p>
                    <p id="createSuccess" class="successMsg" hidden></p>
                    <button class="submit-blue">Crear Profesor</button>
                </section>

            </div>
        </form>


        <template id="edit-form">
            <form class="form">
            
                <div class="form-card">

                    <h1 class="form-card-title">Modificar Profesor</h1>
                    
                    <section class="form-section">

                        <div class="input-group">
                        <label for="nameField">Nombre completo:</label>
                        <input id="nameField" type="text" name="name" required pattern=".*\S+.*">
                    </div>

                    <div class="input-group">
                        <label for="dniField">DNI:</label>
                        <input id="dniField" type="number" name="dni" required pattern=".*\S+.*">
                    </div>

                    <div class="input-group">
                        <label for="genderField">Género:</label>
                        <select id="genderField" name="gender">
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>
                    
                    <div class="input-group">
                        <label>Actividades:</label>
                        <div id="editActivitiesContainer" class="checkbox-mgmt-container">
                            <!-- Las actividades se cargan dinámicamente desde la base de datos -->
                        </div>
                    </div>

                    </section>

                    <section class="form-section">
                        <p id="editError" class="errorMsg" hidden></p>
                        <p id="editSuccess" class="successMsg" hidden></p>
                        <div class="options">
                            <button class="submit-blue">Modificar Profesor</button>
                            <button id="editCancel" class="submit">Dejar de editar</button>
                        </div>
                    </section>

                </div>
            </form>
        </template>
        

        <template id="suspend-form">
            <form class="form">
            
                <div class="form-card">

                    <h1 class="form-card-title">Inhabilitar Profesor</h1>
                    
                    <section class="form-section">

                    <div class="input-group">
                        <label for="reasonField">Motivo:</label>
                        <input id="reasonField" type="textarea" name="reasonField" required pattern=".*\S+.*">
                    </div>

                    <div class="input-group">
                        <label for="dateFromInput">Desde:</label>
                        <input id="dateFromInput" type="date" name="dateFromInput" required placeholder="Desde...">
                    </div>

                    <div class="input-group">
                        <label for="dateToInput">Hasta:</label>
                        <input id="dateToInput" type="date" name="dateToInput" required placeholder="Hasta...">
                    </div>

                    </section>

                    <section class="form-section">
                        <p id="suspendError" class="errorMsg" hidden></p>
                        <p id="suspendSuccess" class="successMsg" hidden></p>
                        <div class="options">
                            <button class="submit-blue">Inhabilitar Profesor</button>
                            <button id="suspendCancel" class="submit">Cancelar</button>
                        </div>
                    </section>

                </div>
            </form>
        </template>


        <section class="list-card">
            <h1> Lista de Profesores: </h1>

            <div id="slotList" class="list">

            </div>

            <p id="notDataAvailableMsg" hidden> ¡No existen profesores todavía! </p>
            
        </section>

    </main>

    <%- include('../Navbar/footer.html') %>
    
    <dialog id="confirmPanel">
        <p id="confirmText">¿Está seguro de que desea borrar el Profesor?</p>
        <form method="dialog">
            <div id="reasonDiv">
                <label for="deleteReasonField">Motivo:</label>
                <textarea id="deleteReasonField" name="reason" rows="3"></textarea>
            </div>
            <div class="dialog-actions">
                <button type="button" value="cancel">Cancelar</button>
                <button id="confirmBtn" value="default">Borrar Profesor</button>
            </div>
        </form>
    </dialog>
    
    <script src="/Management/managementInstructors.js"></script>
</body>

</html>