* {
    margin: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}

body {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
}

.form-container {
    border: 2px solid blue;
    width: 800px;
    height: 100%;
    margin: 100px 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

form section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.input-section input {
    height: 40px;
    width: 100%;
}


.errorMsg {
    color: rgb(245, 45, 45);
    font-weight: bold;
}