* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

main {    
    box-sizing: content-box;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    /* border: 2px solid blue; */
    width: 800px;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

form section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.input-section input {
    height: 40px;
    width: 100%;
}


.inputError, .passwordRequirementError, .confirmPasswordError {
    border-style: solid;
    border-color: rgb(245, 45, 45);
    color: rgb(245, 45, 45);
}

.inputError:focus, .passwordRequirementError:focus, .confirmPasswordError:focus {
    color: black;
}


.errorMsg {
    color: rgb(245, 45, 45);
    font-weight: bold;
}


.form-container a {
    color: #163F7A;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

.submit {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: #163F7A;
    color: white;
}