<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Images/Common/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Common/commonPageStyle.css">
    <link rel="stylesheet" href="/Common/commonFormPageStyle.css">
    <link rel="stylesheet" href="/Account/profileStyle.css">
    <link rel="stylesheet" href="/Users/userlistStyle.css">    
    <title>CEF - Registrar empleado</title>
</head>

<body>    
    <header>
        <%- include('../Navbar/navbarSelector.ejs') %>
    </header>
    
    <h1 class="title">Usuarios</h1>

    <%- include('../Users/usersNav.html') %>
    
    <main class="main-container">
        <form id="registerForm" class="form" data-role-enum="<%= JSON.stringify(Role) %>">       
            <div class="form-card">
                <h1 class="form-card-title">Registrar Empleado</h1>                
                <section class="form-section">
                    <div class="input-group">
                        <label for="nombre">Nombre completo:</label>
                        <input id= nombre type="text" name="nombre" autocomplete="nombre" required>
                    </div>

                    <div class="input-group">
                        <label for="dni">DNI:</label>
                        <input id="dni" type="number" name="dni" autocomplete="dni" required>
                    </div>

                    <div class="input-group">
                        <label for="email">Email:</label>
                        <input id="email" type="email" name="email" autocomplete="email" required>
                    </div>

                    <div class="input-group">
                        <label for="fechaInput">Fecha de nacimiento:</label>
                        <input id="fechaInput" type="date" name="fechaInput" required placeholder="Fecha de nacimiento">
                    </div>
                </section>
                <section class="form-section">
                    <p id="registerError" class="errorMsg" style="max-width: 500px" hidden></p>
                    <button class="submit">REGISTRAR</button>
                </section>
            </div>
        </form>
    </main>

    <%- include('../Navbar/footer.html') %>

    <script src="/Users/employeeSignUpLogic.js"></script>   
</body>
</html>