<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Images/Common/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/Home/Tabs/MyActivities/tabMyActivities.css">
    <link rel="stylesheet" href="/Common/commonPageStyle.css">

    <title>CEF - Mis Actividades</title>
</head>

<body>
    <header>
        <%- include('../../Navbar/navbarSelector.ejs') %>
    </header>

    <main class="main-container">

        <h1>Mis Actividades</h1>

        <div class="filters-container">

          <div class="filter-container">
            <label for="activityFilter">Actividad:</label>
            <select id="activityFilter">
              <option value="Todas">Todas</option>
              <option value="yoga">Yoga</option>
              <option value="spinning">Spinning</option>
              <option value="funcional">Entrenamiento Funcional</option>
            </select>
          </div>
          
          <div class="filter-container">
            <label for="tipeFilter">Tipo de reserva:</label>
            <select id="tipeFilter">
              <option value="Todas">Todas</option>
              <option value="Mensualidad">Mensualidad</option>
              <option value="Unica">Única</option>
            </select>
          </div>

          <div class="filter-container">
            <label for="dayOfTheWeekFilter">Día de la semana:</label>
            <select id="dayOfTheWeekFilter">
              <option value="Todas">Todas</option>
              <option value="Lunes">Lunes</option>
              <option value="Martes">Martes</option>
              <option value="Miércoles">Miércoles</option>
              <option value="Jueves">Jueves</option>
              <option value="Viernes">Viernes</option>
              <option value="Sábado">Sábado</option>
            </select>
          </div>

        <div class="filter-container">
          <label for="statusFilter">Estado:</label>
          <select id="statusFilter">
            <option value="Todas">Todas</option>
            <option value="NoVencidas" selected>No vencidas</option>
            <option value="Vencidas">Vencidas</option>
            <option value="EnEspera">En espera</option>
          </select>
        </div>


        </div>
        

        <div id="reservasContainter" class="reservas-containter">

        </div>

        <!-- Modal para cancelar clases de mensualidad -->
        <div id="cancelarMensualModal" class="modal-cancellations">
          <div class="modal-cancellations-content">
            <span class="close-cancellations">&times;</span>
            <h3>Cancelar clase de la mensualidad</h3>
            <div id="listaClasesMensual"></div>
          </div>
        </div>



    </main>

    <%- include('../../Navbar/footer.html') %>
    
    <script src="/Home/Tabs/MyActivities/tabMyActivities.js"></script>

</body>

</html>