<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Home/Tabs/TestClases/testClasesStyle.css">

    <title>CEF _ Test Clases</title>
</head>
<body>
    <header>
        <%- include('../Navbar/navbarSelector.ejs') %>
    </header>

    <main>
        
    </main>

    <%- include('../Navbar/footer.html') %>

    <script src="/Home/Tabs/TestClases/testClases.js"></script>
</body>
</html>