* {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

header {
  width: 100%;
  height: 95px;
  background-color: rgb(27, 27, 27);
}


.header-nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  
  position: relative;
}

.header-nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-inline-end: 50px;
}

.header-nav a {
  text-decoration: none;
  color: #D01F25; /*Para tema claro podemos ponerlos con el azul: #163F7A*/
  font-weight: bold;
  font-size: 19px;
}

.logo-img {
  height: 70px;
}

.user-ico {
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}


.user-options-menu {
  background-color: rgba(66, 66, 66, 1);
  position: absolute;
  top: 110%;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 20%;
  max-width: 180px;
  right: 3%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.user-options-wrapper {
  padding: 10px;
  margin: 10px 5px;
}

.user-options-list {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.user-options-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-options-list img {
  height: 28px;
}

.user-options-list p {
  flex: 1;
  margin-left: 10px;
  font-size: 16px;
  color: white;
}

.user-options-open {
  max-height: 200px;
}